html {

    scroll-behavior: smooth;

}

body {

    background-color: #f1f5f9;
    color: #0f172a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;

}

h1:hover {

    color: #6366f1;

}


p:hover {

    color: #6366f1;

}

.t1 {

    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-right: 100px;

}

.t2 {

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}